Package: goldendict-extras-pt
Version: 0.2
Installed-Size: 73044
Maintainer: Crash and Eddie <crash.eddie123@gmail.com>
Section: science
Architecture: all
Priority: optional
Depends: goldendict
Description: Dicionários em Português para o GoldenDict.
 Dicionário Aurélio, Houaiss e Michaelis em português. Babylon em Inglês e Michaelis em Espanhol.
